<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MAPA</title>
    <link href="@Url.Content("~/styles/mapa.css")" rel="stylesheet" />
</head>
<body>
    <div id="FCC">
        <ol>
            <a href='@Url.Action("Index", "Home")'><li><p>Home</p></li></a>
            <a href="ADM.html">
            <li><p>ADM</p></li></a>
            <a href="funcionario01.html">
            <li><p>Funcionario01</p></li></a>
            <a href="funcionario02.html">
            <li><p>Funcionario02</p></li></a>
            <a href="funcionario03.html">
            <li><p>Funcionario03</p></li></a>
            <a href="listafuncionarios.html">
            <li><p>Lista de Funcionarios</p></li></a>
            <a href="login.html">
            <li><p>Login</p></li></a>
            <a href="pacotes_create.html">
            <li><p>Pacotes_create</p></li></a>
            <a href="pacotes.html">
            <li><p>Pacotes</p></li></a>
        </ol>
    </div>

    <h1>Já já coloco mais</h1>
</body>
</html>