@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

a{
  text-decoration: none;
}

h1{
  color: black;
}

h2{
  font-size: 1.5em;
  color: white;
}
/*header ajeitado começa aqui  */
header{
  position: relative;
  background-color: white;
}
.navbar {
  align-items: center;
}
.navbar a{
  color: black;
}
#md{
    display: flex;
    align-items: center;
    gap: 1em;
  }

#per{
  font-size: 1rem;
}
/*termina aqui (é bom colocar num codigo geral mas por enquanto copia e cola, mudei html tbm)  */

/* migalha de pão  */
#migalha{
  display: flex;
  column-gap: 1em;
  color: white;
}
#migalha li a{
  text-decoration: none;
  font-size: 1em;
  color: white;
}

#hli{
  display: flex;
  gap: 7em;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

#hli li p{
  font-size: 25px;
}
main>div>div{
 max-width: 968px;
  margin: 0 auto;
}
main>div{
   background: linear-gradient(black, white);
}


section{
  padding: 1em 5em 8em 5em;
}

#info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info_do_filme{
  padding-right: 3em;
}

#h1_do_nome_do_filme{
  color: white;
  padding: 2em 0;
  font-size: 2em;
}

#disp_para_a_sinopse_e_img{
  display:flex;
  color: white;
}
.h1li{
  color: white;
  font-size: 1.3em;
}

#ol1{
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
}
#ol1 li{
  padding: 1em 0;
}
#ol1 img{
  width:30px;
}
#borda{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 2em;
}
#info_nome{
  color: black;
}
div.segunda{
  padding: 7em 0;
  background-image: none;
  background-color: black;
  color: white;
}
div.segunda a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
div.segunda section{
  padding: 0;
}
div.sessoes{
  position: absolute;
  margin: 0;
  padding: 2em 1em;
  border: 2px solid white;
  border-radius: 10px;
}
div.sessoes p{
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 10px;
  color: white;
}
div.sessoes p img{
  margin-left: 10px;
}
#dias{
  display: flex;
  column-gap: 2em;
  justify-content: center;
  padding: 2em 0 0 0;
}
#dias>div{
    padding: 1em;
}
#primeira_section{
  padding: 72px 0;
}
#infodia1{
  margin: 0;
  padding: 2em 1em;
  border: 2px solid white;
  border-radius: 10px;
}
#dia1{
  border: 2px solid white;
}

#sec_sessoes{
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.horario{
  display: flex;
  gap: 1em;
  padding-left: 1em;
  padding-right: 1em;

}

.horario_org{
  display: flex;
}

.horario li input{
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

#dub{
  background-color: red;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

#pe{
  padding-left: 5px;
  padding-right: 5px;
}

section h1{
  color: white;
  padding-left: 15em;
  padding-top: 3em;
  padding-bottom: 1.8em;
}

ol li p{
  color: white;
}

.botoes{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 15px;
}

.botoes li{
  width: 45px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0em 0em;
}

.botoes a{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botoes a p{
  font-size: 15px;
  color: white;
}


.olol{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20em;
  
}

.imgp{
  margin: 15px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid white;
  width: 90%;
}


#organizando_colunas{
  display: flex;
  justify-content: space-evenly;
}